[Unit]
Description=dhcpcd on all interfaces
Wants=network.target
After=local-fs.target network-pre.target apparmor.service systemd-sysctl.service systemd-modules-load.service networking.service
Before=network.target shutdown.target network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
PIDFile=/run/dhcpcd.pid
ExecStart=/sbin/dhcpcd -q -b
ExecStop=/sbin/dhcpcd -x

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
Alias=dhcpcd5.service
