[Unit]
Description=MoOde Player Tunes by jesset
After=network-online.target
Before=rc-local.service mpd.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/moode_tunes_jesset.sh

[Install]
WantedBy=multi-user.target