[Unit]
Description=Ntpdate on network up
Documentation=man:ntpdate(8)
DefaultDependencies=no
After=network-online.target rc-local.service
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/ntpdate-debian
Type=oneshot

[Install]
WantedBy=multi-user.target
